Topics <br>
- tuple
- dictionary

In [14]:
t = (1,2)
print(t)
print(t[0])

(1, 2)
1

In [4]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [6]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
t[10]=10

TypeError: 'tuple' object does not support item assignment

In [13]:
t1=(1,2,3,4,1,1)
print (t1.count(1))
print (t1.count(5))

3
0

In [10]:
sum(t1)

12

In [11]:
sum(t1),max(t1),min(t1)

(12, 4, 1)

In [16]:
t2 =(34,'python',True,89.5)
print(t2)
print(t2[0])
print(t2[2:])

(34, 'python', True, 89.5)
34
(True, 89.5)

In [17]:
 t2[1][2]

't'

In [19]:
t3=(3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

In [24]:
# create a list of lists ,where each sublist consists of 3 subject marks of student
#in each sublist add a new element which is total of 3 subject marks
student_marks=[[23,56,89],[45,56,76],[99,63,34]]
(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 63, 34]]

In [25]:
a=[6,8,9]
sum(a)

23

In [26]:
a.append(sum(a))

In [27]:
print(a)

[6, 8, 9, 23]

In [29]:
for i in a:
    print(i+1)

7
9
10
24

In [32]:
#types of prints
print (5+7)
print('5'+'7')
print('5+7')

12
57
5+7

In [33]:
#new list with values plus one
aplus=[]
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [34]:
a

[6, 8, 9, 23]

In [38]:
a[0]+1
a[1]+1
a[2]+1
a[3]+1
print(a)

[6, 8, 9, 23]

In [39]:
list(range(len(a)))

[0, 1, 2, 3]

In [40]:
for i in range(len(a)):
    a[i] = a[i]+1

In [41]:
a

[7, 9, 10, 24]

In [45]:
#to access elements 
for i in a:
    print(i,end=' ')
#line gap between two lists
print()
# to access the elements by using index
for i in range(len(a)):
    print(a[i],end=' ')

7 9 10 24
7 9 10 24

## dictionary

- dictionary are based on keys and value
- we can get value by using keys but we cannot get key by using value

In [52]:
d={'maths':56,'english':67,'physics':45} ###maths,english,physics are keys ###56,67,45 are values
d['maths']

56

In [47]:
d['physics']=77
d

{'maths': 56, 'english': 67, 'physics': 77}

In [53]:
for i in d:
    print(i,end=' ')

maths english physics

In [54]:
s= 0
for i in d:
    s+= d[i]
print(s)

168

In [55]:
# to access keys
print(d.keys())
# to access values
print(d.values())
#to acess key value pairs
print(d.items())#list of tuples each tuple is a key value pair

dict_keys(['maths', 'english', 'physics'])
dict_values([56, 67, 45])
dict_items([('maths', 56), ('english', 67), ('physics', 45)])

In [56]:
# to calculate the sum of values in dictionary
sum(d.values())

168

In [57]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 45

In [58]:
# adding a new item into dictionary
d['python'] =78
d

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78}

In [61]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78, 'total': 246}

In [62]:
#to remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78}

create a dictionary with 3 students <br>
key - student name <br>
value - list of 3 subject marks of student <br>

In [63]:
std_marks ={'ram':[77,45,34],'sandy':[56,78,94],'rose':[67,89,92]}
std_marks

{'ram': [77, 45, 34], 'sandy': [56, 78, 94], 'rose': [67, 89, 92]}

In [64]:
std_marks['ram']

[77, 45, 34]

In [65]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'ram': [77, 45, 34, 156],
 'sandy': [56, 78, 94, 228],
 'rose': [67, 89, 92, 248]}

In [ ]:
#unique character  count in a string
s='character'
len(set(s))# set will give u unique  in iterable objects